<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="todos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
</head>

<body>

    <div class="container">
        <input id="inp" type="text" class="txtb" placeholder="Add a task">
        <button id="addbtn" type="submit">ADD</button>
        <div class="notcomp">
            <h3>Not Completed</h3>
         <div class="notcomp2"></div>
        </div>

        <div class="comp">
            <h3>Completed</h3>
            <div class="comp2"></div>
        </div>
    </div>

    <script src="todos.js"></script>

</body>

</html>